<div class="container position-relative">
  <h1>Scanner de Código de Barras</h1>

  <div class="cam-barcode" *ngIf="!error && !loading && !product">
    <zxing-scanner
      [formats]="allowedFormats"
      [autostart]="true"
      (scanSuccess)="onScanSuccess($event)"
    >
    </zxing-scanner>
    <div class="spinner-border" role="status" *ngIf="loading ">
      <span class="visually-hidden">Buscando produto...</span>
    </div>
  </div>
  
  

  <div *ngIf="loading" class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Buscando produto...</span>
    </div>
  </div>

  <div *ngIf="product">
    <h2>Produto: {{ product.name || "—" }}</h2>
    <p>Marca: {{ product.brand || "—" }}</p>
    <ul>
      <li>Calorias (kcal/100g): {{ product.calories ?? "—" }}</li>
      <li>Proteínas (g/100g): {{ product.proteins ?? "—" }}</li>
      <li>Carboidratos (g/100g): {{ product.carbohydrates ?? "—" }}</li>
      <li>Gorduras (g/100g): {{ product.fats ?? "—" }}</li>
    </ul>
  </div>

  <div *ngIf="error || product">
    <div style="color: red">{{ error }}</div>
    <button type="button" class="btn btn-secondary" (click)="reloadFind()">
      {{ product ? "Nova leitura" : "Buscar produto"}}
    </button>
  </div>
</div>
